<!DOCTYPE html>
<html>
<head>
  <title>IP Logger Info</title>
</head>
<body>
  <h1>Visitor Information</h1>
  <ul>
    <li><strong>IP:</strong> {{ info.ip }}</li>
    <li><strong>City:</strong> {{ info.city }}</li>
    <li><strong>Region:</strong> {{ info.region }}</li>
    <li><strong>Country:</strong> {{ info.country }}</li>
    <li><strong>Location (Lat,Long):</strong> {{ info.location }}</li>
    <li><strong>ISP:</strong> {{ info.isp }}</li>
    <li><strong>Device Info:</strong> {{ agent }}</li>
  </ul>
</body>
</html>
